@model List<Dish>

<h1><a href="/">Chefs</a> | Dishes</h1>
<a href="/dishes/new">Add a Dish</a>
<div>
    <h3>Check out some recent dishes!</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        @foreach(Dish item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Creator.FirstName @item.Creator.LastName</td>
                <td>@item.Tastiness</td>
                <td>@item.Calories</td>
            </tr>
        }
    </table>
</div>